.principal__projects{
    height: 120%;
}
::-webkit-scrollbar {
    width: 8px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #5356FF;
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb:hover {
    background: #5356FF;
}

.projects__lista{
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    height: 100%;
    overflow-y: scroll;
    overflow-x: none;
}

.projects__titulo{
    color: var(--cor-letra);
    font-size: 2.2rem;
    margin: 4rem 0;
}

.lista-item{
    background: var(--cor-background-card);
    background-repeat: no-repeat;
    color: var(--cor-letra);
    
    width: 98.4%;
    height: 40rem;
    border-radius: 2rem;
}

.imagem-pc{
    display: none;
    border: 3px solid var(--cor-letra);
    border-radius: 1rem;
}

.imagem-tablet{
    display: block;
    border: 3px solid var(--cor-letra);
    border-radius: 1rem;
}

.item__conteudo{
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'titulo github'
    'descricao github'
    ;
    margin: 1rem 2rem 0 2rem;
    row-gap: 1rem;
    align-items: center;
}

.conteudo__titulo{
    grid-area: titulo;
    font-size: 2.2rem;
}

.conteudo__descricao{
    grid-area: descricao;
    font-size: 1.2rem;
}

.item__conteudo i {
    grid-area: github;
    text-align: right;
    font-size: 4rem;
    margin-right: 5rem;
    cursor: pointer;

}
@media screen and (min-width:1400px){

    .lista-item{
        width: 100%;
    }

    .imagem-pc{
        display: block;
    }
    
.imagem-tablet{
    display: none;
}
}