@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
* {
  margin: 0;
  padding: 0;
}

:root {
  --cor-background: linear-gradient(45deg, #9119e0 100%, #490d72 0%);
  --cor-branco: #fff;
  --cor-preto: #000;
  --cor-roxo: #9119e0;
  --fonte-principal: 'Krona One', sans-serif;
}

body {
  height: 100vh;
  background: var(--cor-background);
  background-repeat: no-repeat;
  color: var(--cor-branco);
  font-family: var(--fonte-principal);
}

.cabecalho {
  margin: 3rem 5rem;
}

.cabecalho__link {
  background-color: var(--cor-branco);
  color: var(--cor-roxo);
  text-decoration: none;

  font-size: 2rem;

  border: 2px solid var(--cor-branco);
  border-radius: 14px;
  padding: 1.5rem 4rem;
  margin-left: 2rem;
}

.titulo-principal {
  text-align: center;
  margin: 6rem 0 2rem 0;
  font-size: 3rem;
  font-weight: 500;
}

.principal {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.principal__lista-conteudo {
  display: grid;
  width: 80%;
  height: 45vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

.principal__item {
  list-style: none;
}

.principal__item-titulo {
  font-size: 2.5rem;
  font-weight: 500;
}

.principal__item-input {
  margin-top: 1rem;
  padding: 1rem 25rem 1rem 2rem;
  border: 3px solid var(--cor-branco);
  border-radius: 32px;
  outline: none;

  background-color: transparent;
  color: var(--cor-branco);
}

.principal__botao {
  cursor: pointer;
  background-color: var(--cor-branco);
  color: var(--cor-roxo);
  border: 2px solid var(--cor-branco);
  border-radius: 16px;
  padding: 1.5rem 10rem;
  margin-top: 4rem;

  font-size: 2.5rem;
  font-family: var(--fonte-principal);
}

.removeBtn {
  color: white;
  border: none;
  background-color: rgb(226, 40, 40);
  border-radius: 10px;
  padding: 5px;
}
