<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/home/style.css" />
    <title>Projects</title>
</head>
<body>
    <header class="cabecalho">
        <a href="index.html" class="cabecalho__link  botao__home">Home</a>
        <a href="projects.html" class="cabecalho__link botao__projects">Projects</a>
    </header>

    <section class="principal__projects">
        <div id="projects-list">

        </div>
    </section>

    <script src="js/projects.js"></script>
</body>
</html>