name: Continuos Integration

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  continuos-Integration:
    runs-on: ubuntu-latest

    env:
      NODE_ENV: test
      CLERK_SECRET: ${{ secrets.CLERK_SECRET }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 25.2.1

      - name: Install dependencies
        run: npm install

      - name: Run build
        run: npm run build

      - name: Run Server
        run: npm run start &

      - name: Run tests
        run: npm run test
